name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      
      - name: Make Gradle executable
        run: chmod +x gradlew
        continue-on-error: true

      - name: Build with Gradle
        run: |
          if [ ! -f gradlew ]; then
            gradle wrapper
            chmod +x gradlew
          fi
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: NeonLinks-APK
          path: app/build/outputs/apk/debug/app-debug.apk
